

footer{

    height: 20rem;
    background-color: rgb(20, 22, 25);
}

footer p{
    width: 100%;
    text-align: center;
    color: white;

}

#footer-title{

    padding-top: 5rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}

.icons{
    height:min-content;
    object-fit:none;
}


header{
   
    background-color: rgb(20, 22, 25);
    height: 5.3rem;
    padding: 0 7rem;

    
}
header h2{

    font-size: 2.6rem;
    margin: 0;
    padding-top: 2.6rem;
}

h1{
    font-size: 4.3rem;
    color: rgb(66, 66, 66);
}
h2{
    font-size: 3rem;
    color: rgb(66, 66, 66);
}
h3{
    font-size: 1.6rem;
    color: gray;
}
a{
    color:white;
    text-decoration: none;
}
p{
    font-size: 1.4rem;
    color: black;
    text-align: justify;
    font-weight: normal;

}
body{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.button{
    display: inline-block;
    background-image: linear-gradient(orangered , salmon);
    font-size: 1.5rem;
    padding: 20px 60px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    align-self: flex-start;
    cursor: pointer;
    position: relative;
}

.button::before{
    content: "";
    position: absolute;
    inset: 0;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background-color: rgba(240, 128, 128, 0.3); 
    opacity: 0%; 
    pointer-events: none; 
    transition: opacity 0.3s ease; 
    
}

.button:hover{
    outline: 5px solid red;
    outline-offset: -2px;
    cursor: pointer;
}

.button:hover::before{
    opacity: 100%;
}

img{
    object-fit:cover;
}

section{
    display: flex;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.text_section{
    width: 50%;
    box-sizing: border-box;
    display: flex;
}


.picture_section{
    height: 70rem;
    width: 50%;
    box-sizing: border-box;
}

#top-section{
    background-image: url(images/shapes/top_background.jpg);
    padding-top: 6rem;
}

#top-section>.text_section{
    justify-content: end;
}
#top-section .transperant_box{
    margin-top: 4rem;
}
.transperant_box{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#mid-section {
    background-image: url(images/shapes/mid_background.jpg);
    padding-top: 10rem;
}



#mid-section .picture_section{
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

.grid-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.grid-area>:nth-child(n){
    max-width: 500px;
    width: 100%;
}

.box{
    padding: 1rem;    
    box-shadow: 0 0 10px gainsboro;
    border-radius: 30px;
}
.box h2{
    font-weight:900;
}


.resize-pic{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    object-fit:cover;
}

#end-section{
    box-shadow: 0 0 10px gainsboro;
    border-radius: 30px;
    margin: 3rem 10rem;
    justify-content: space-around;
    padding: 5rem 3rem;
}

.bottomsection-text{

    color: black;
    font-weight:900;
    margin: 0;
    text-align: center;
        
}

.bottom-box{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.bottomsection-smalltext{
    margin: 0;
    text-align: center;
}


@media screen and (max-width: 1620px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3, p {
        font-size: 1.2em;
    }
    .picture_section{
        height: 50rem;
    }
    #end-section{
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3, p {
        font-size: 1em;
    }

    section{
        padding: 0 2rem;
    }

    .picture_section{
        height: 40rem;
        display: flex;
        width: 100%;
        margin-top: -150px;
    }

    .text_section{
        width: 100%;
    }

    #top-section {
        flex-direction: column;
        padding-top: 0;
    }
    #top-section>.picture_section{
        justify-content: end;
    }

    #top-section>.text_section{
        justify-content: start;
    }

    #mid-section{
        flex-direction: column-reverse;
        padding-top: 3rem;
    }
    #mid-section>.picture_section{
        justify-content: start;
    }
    #mid-section>.text_section{
        justify-content: end;
    }

    #end-section{
        margin: 0;
        gap: 2rem;
    }
    .transperant_box{
        max-width: 50%;

    }
}

@media screen and (max-width: 768px) {
    section{
        padding: 0 1rem;
    }
    .picture_section{
        height: 25rem;
    }
    .picture_section{
        margin-top: -350px;
    }
    header{
        padding: 0 2rem; 
    }
    .transperant_box{
        padding: 1rem;
        border-radius: 40px;
        background: rgba(256, 256, 256, 0.9); 
        position: relative;
        max-width: 70%;
    }

    #footer-title{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3, p {
        font-size: 0.9em;
    }
    .button {
        font-size: 1.2em;
        padding: 10px 30px;
    }

    header{
        padding: 0 1rem; 
    }

    .transperant_box{
        max-width: 100%;
        width: 100%;

    }
    #mid-section .button{
        align-self: flex-end;
    }

}

