h1{
    font-size: 4.3rem;
    color: rgb(66, 66, 66);
}
h2{
    font-size: 3rem;
    color: rgb(66, 66, 66);
}
h3{
    font-size: 1.6rem;
    color: gray;
}
a{
    color:white;
    text-decoration: none;
}
p{
    font-size: 1.4rem;
    color: black;
    text-align: justify;
    font-weight: normal;

}
body{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

section{
    display: flex;
    box-sizing: border-box;

}


.text_section{
    padding: 0 5%;
    text-align: left;
    width: 50%;
    box-sizing: border-box;

}

.button{

    display: inline-flex;
    background-image: linear-gradient(orangered , salmon);
    font-size: 1.5rem;
    padding: 20px 60px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
#top-section{
    background-image: url(images/shapes/top_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6rem;
}
#mid-section{
    background-image: url(images/shapes/mid_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row-reverse;
    padding-top: 10rem;
}

#mid-section .picture_section{
    display: flex;
    justify-content: end;
}

.grid-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.grid-area>:nth-child(n){
    max-width: 500px;
    width: 100%;
}

.box{
    padding: 1rem;    
    box-shadow: 0 0 10px gainsboro;
    border-radius: 30px;
}


.resize-pic{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    object-fit:cover;
}

#end-section{
    box-shadow: 0 0 10px gainsboro;
    border-radius: 30px;
    margin: 3rem 10rem;
    justify-content: space-around;
    padding: 5rem 3rem;
}

.bottomsection-text{

    color: black;
    font-weight:900;
    margin: 0;
    text-align: center;
        
}

.bottom-box{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.bottomsection-smalltext{
    margin: 0;
    text-align: center;
}

footer{

    height: 270px;
    background-color: rgb(20, 22, 25);
}
footer p{
    width: 100%;
    text-align: center;
    color: white;

}

#footer-title{

    padding-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

.icons{
    height:min-content;
    object-fit:none;
}


header{
   
    background-color: rgb(20, 22, 25);
    height: 70px;
    padding: 0 5%;

    
}
header p{

    font-size: 2.6em;
    margin: 0;
    padding-top: 25px;

}
img{
    object-fit:cover;
}

.picture_section{
    height: 70rem;
    width: 50%;
    box-sizing: border-box;
}

@media screen and (max-width: 1620px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3, p {
        font-size: 1.2em;
    }
    .picture_section{
        height: 50rem;
        justify-content: end;

    }
    #end-section{
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3, p {
        font-size: 1em;
    }
    #top-section,#mid-section {
        flex-direction: column;
        padding: 0 30px;
    }
    .text_section {
        padding: 10px;
    }

    .picture_section{
        height: 25rem;
        width: 100%;
        justify-content: end;
        display: flex;
        margin-top: -250px;
    }

    .text_section{
        width: 100%;
    }
    #end-section{
        margin: 0;
        gap: 2rem;
    }
    
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3, p {
        font-size: 0.9em;
    }
    .button {
        font-size: 1.2em;
        padding: 10px 30px;
    }

    .picture_section{
        height: 10rem;
    }
}


